.css-1et6u9b, .css-1cf8j3a, .css-1ecxs1h
{ 
    background-color: #801143 !important;
}

.css-1ovfv5w, .css-18q1fsk, .css-1px1gl2, .css-c6w2dx 
{ 
    background-color: #801143 !important;
    color: #FFFFFF !important;
}

.css-1yrgl5i{
    color:  darkorange !important;
}

.css-1kby347 {
    border: 1px solid  darkorange !important;
     color: darkorange !important;
}

.css-1ruedog{
    border: 1px solid rgba(128, 17, 67, 0.5);
    color:  #801143 !important;
}

.css-1amhbcg {
    border: 1px solid rgba(128, 17, 67, 0.5);
    color:  #darkred !important;

}

.css-1vhtqje{
    background:  #23797b!important;
    color:  #ffffff !important;
}

.custom-background-color.css-1cf8j3a {
    background-color: #801143 !important;
}

.custom-background-color.css-1ecxs1h {
    background-color: #801143 !important;
}

.watermark {
    display: none !important;
}